<div class="main-body camera-main-body" id="main-body">
  <div class="left-section camra-section">
    <div class="table-section-header">
      <app-pagebar></app-pagebar>
      <div id="test-swipe-1" class="col s12" style="display: none !important;"></div>
      <div id="test-swipe-2" class="col s12 alert-tab-section" style="display: none !important; padding: 0px;">
       
      </div>
    </div>
    <div class="profile-section alert-tab-section">
      <div class="alrt-tab-head position-mobile">
        <h4>CAMERA</h4>
        <button type="button" class="waves-effect btn-flat back-btn ">Back</button>
      </div>
      <div class="profile-detail">
        <div class="camera-section">
          <h4><span>Camera:</span> #F1-002</h4>
          <div class="camera-details">
            <div class="details">
              <h4>DETAILS</h4>
              <table class="highlight">
                <tr>
                  <th>Id:</th>
                  <td>#c-123</td>
                </tr>
                <tr>
                  <th>Active:</th>
                  <td>Yes/No</td>
                </tr>
                <tr>
                  <th>Manufacturer:</th>
                  <td>CCC</td>
                </tr>
                <tr>
                  <th>Model Name:</th>
                  <td>C-pixel</td>
                </tr>
              </table>
            </div>
            <div class="details">
              <table class="highlight top-mrg">
                <tr>
                  <th>Resolution:</th>
                  <td>2200x1200</td>
                </tr>
                <tr>
                  <th>IR Enabled:</th>
                  <td>Yes</td>
                </tr>
                <tr>
                  <th>Audio Enabled:</th>
                  <td>Yes</td>
                </tr>
              </table>
            </div>
            <div class="details back-color">
                <h4>INSTALLED AT</h4>
              <table class="highlight">
                <tr>
                  <th>Room:</th>
                  <td>#101</td>
                </tr>
                <tr>
                  <th>Floor:</th>
                  <td>Main Floor</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="camera-section noMarg">
            <h4 class="brdr-none">RECENT ALERTS</h4>
            <div class="camera-details table-responsive-vertical">
              <table class="highlight table table-second table-mc-light-blue">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>ALERT TYPE</th>
                    <th>ALERT NAME</th>
                    <th>ROOM</th>
                    <th>ROOM DESCRIPTION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td data-title="#">01</td>
                    <td data-title="ALERT TYPE" class="td-dot-position"><span class="red-dot"></span>Fall</td>
                    <td data-title="ALERT TIME">10:00pm | 27 Jul </td>
                    <td data-title="ROOM">#101</td>
                    <td data-title="ROOM DESCRIPTION">Room is located in the D wing.</td>
                  </tr>
                  <tr>
                    <td data-title="#">01</td>
                    <td data-title="ALERT TYPE" class="td-dot-position"><span class="green-dot"></span>Fall</td>
                    <td data-title="ALERT TIME">10:00pm | 27 Jul </td>
                    <td data-title="ROOM">#101</td>
                    <td data-title="ROOM DESCRIPTION">Room is located in the D wing.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>