@import '~sass/variables';
@import '~sass/mixins';
@import '~sass/base';

::ng-deep .mat-input-underline  {
    display: none;
}
::ng-deep .mat-form-field-wrapper{
    padding-bottom:0;
    padding-top:0;
}
::ng-deep .mat-form-field-infix{
    border-top:0;
}

body {
    background-color: #f6f7fb;
}
.main-body{
    float: left;
    display: flex;
    align-items: stretch;
    padding-bottom: 70px;
    @media (max-width:510px){
        padding-bottom: 70px;
        width: 100%;
    }
    &.alrt-main-body{
        width: 100% !important;
    }
    .logo-icon{
        position: absolute;
        right: 16px;
        top: 6px;
        .logo-fav{
            background-image: url("../../../assets/images/logo-icon.png");
            @include image-2x('../../../assets/images/logo-icon@2x.png', 100%, auto);
            width: 33px;
            height: 40px;
            background-repeat: no-repeat;
            background-position: center top;
            float: left;
            opacity: 0.2;
        }
    }
    .notifcation-hidde{
        float: right;
        display: none;
        margin-left: auto;
        position: relative;
        top: 0px;
        right: 0px;
        z-index: 9;
        @include breakpoint(xlarge) {
            display: inline-block;
        }
       
        &.close-notifcation{
            display: none;
            position: absolute;
            right: 328px;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.2);
            @include breakpoint(small) {
                right: 280px;
            }
            button{
                height: 100%;
                width: 100%;
                i{
                    opacity: 0;
                }
            }
        }
        button{
            border: none;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0;
            @include breakpoint(small) {
                height: 48px;
            }
            &:hover, &:focus{
                i{
                    color: $text-color;
                }
            }
            i{
                color: #fff;
                font-size: 30px;
                line-height: 2;
                height: 0;
                display: flex;
                align-items: center;
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
            }
        }
    }
    &.mobile-ntifcation-section{
        .right-section{
            width: 328px !important;
            @include transition(all 0.5s ease 0s) ;
            position: fixed;
            right: 0;
            z-index: 999;
            height: 100vh;
            @include breakpoint(small) {
                width: 280px !important;
            }
            .btn-close-sidebar{
                display: block;
            }
        }
        .open-notify{
            display: none;
        }
    }
    .left-section{
        width: calc(100% - 328px);
        float: left;
        @include breakpoint(xlarge) {
            width: 100%;
        }
        @include breakpoint(x-small) {
            padding-bottom: 60px;
        }
        .table-section-header{
            -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid #e3e3e3;
            ul{
                &.tabs{
                    display: flex;
                    align-items: center;
                }
                li{
                    text-transform: capitalize;
                    @include breakpoint(medium) {
                        width: 100%;
                    }
                    &.side-navbtn{
                        width: 100%;
                        position: relative;
                        float: left;
                        height: 100%;
                    }
                    .alert-tab{
                        color: #b2b2b2;
                        &.active{
                            background: linear-gradient(to right, rgba(240,47,23,1) 0%, rgba(147,148,237,1) 0%, rgba(108,110,227,1) 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f02f17', endColorstr='#6c6ee3', GradientType=1 );
                            color: #fff;
                        }
                    }
                    &.indicator{
                        display: none;
                    }
                }
            }
        }
    }
    .alert-tab-section{
        padding: 30px 25px;
        float: left;
        width: 100%;
        @include breakpoint(small) {
            padding: 16px 10px;
        }
        .alrt-tab-head{
            display: flex;
            justify-content: space-between;
            align-items: center;
            float: left;
            width: 100%;
            @include breakpoint(x-small) {
                flex-direction: column;
            }
            h4{
                font-size: 19px;
            }
            .alrt-input{
                max-width: 330px;
                background-color: #fff;
                border-radius: 100px;
                border: 1px solid $border-color;
                padding: 0 20px;
                margin: 0;
                box-shadow: none;
                width: 100%;
                margin-left: 40px;
                &:focus{
                    border-color: $border-color;
                    box-shadow: none;
                }
                @include placeholder{
                    color:#a1aab2;
                    opacity: 1;
                }
                @include breakpoint(x-small) {
                    width: 87%;
                    margin-left: 0px;
                    margin-top: 15px;
                }
            }
        }
        .alrt-tab-body{
            float: left;
            width: 100%;
            background-color: #fff;
            padding: 10px 20px;
            margin-top: 20px;
            -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
            -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
            box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
            @include breakpoint(small) {
                padding: 0px;
            }
            .alrt-tbody{
                tr{
                    td{
                        ul{
                            @include breakpoint (medium) {
                                top: -55px !important;
                            }
                            @include breakpoint (small) {
                                top: 0px !important;
                            }
                        }
                    }
                }
            }
            .table2-heading{
                font-size: 19px;
                padding: 30px 0 20px 0;
                border-bottom: 2px solid #a1aab2;
                @include breakpoint(small) {
                    font-size: 15px;
                    padding: 20px 0 20px 20px;
                }
            }
            table{
                z-index: 8;
                thead{
                    tr{
                        &.brdr-style{
                            border-bottom: 2px solid #a1aab2;
                        }
                        th{
                            color: $text-color;
                            font-weight: 600;
                        }
                    }
                }
                tbody{
                    tr{
                        td{
                            position: relative;
                            // padding: 8px 10px;
                            .white-btn-border{
                                width: 135px;
                                background-color: #fff;
                                color: #7475e5;
                            }
                            .dropdown-content{
                                li{
                                    a{
                                        color: $text-color;
                                    }
                                }
                            }
                            a{
                                background-color: transparent;
                                &:hover{
                                    cursor: pointer;
                                }
                                &.notes-icon{
                                    background-image: url("../../../assets/images/note-icon.png");
                                    @include image-2x('../../../assets/images/note-icon@2x.png', 100%, auto);
                                    width: 22px;
                                    height: 23px;
                                    background-repeat: no-repeat;
                                    background-position: center center;
                                    float: left;
                                    padding: 18px 0;
                                }
                            }
                            &.td-dot-position{
                                span{
                                    margin-top: 4px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}


// Baseline styles
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: $table-bg;
  > thead,
  > tbody,
  > tfoot {
    > tr {
        @include transition(all .3s ease) ;
      > th,
      > td {
        text-align: left;
        padding:10px 10px;
        vertical-align: top;
        border-top: 0;
        @include transition(all .3s ease) ;
      }
    }
  }
  > thead > tr > th {
    font-weight: $table-header-font-weight;
    color: $table-header-font-color;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(0,0,0,.12);
  }
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  > tbody + tbody {
    border-top: 1px solid rgba(0,0,0,.12);
  }

  // Nesting
  .table {
    background-color: $table-bg;
  }

  // Remove border
  .no-border {
    border: 0;
  }
}

// Condensed table w/ half padding
.table-condensed {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: $table-condensed-cell-padding;
      }
    }
  }
}
// Bordered version
//
// Add horizontal borders between columns.
.table-bordered {
  border: 0;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border: 0;
        border-bottom: 1px solid $table-border-color;
      }
    }
  }
  > thead > tr {
    > th,
    > td {
      border-bottom-width: 2px;
    }
  }
}


// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)
.table-striped {
  > tbody > tr:nth-child(odd) {
    > td,
    > th {
      background-color: $table-bg-accent;
    }
  }
}

// Hover effect
//
.table-hover {
  > tbody > tr:hover {
      background-color: $table-bg-hover;
  }
}

// Responsive tables (vertical)
//
// Wrap your tables in `.table-responsive-vertical` and we'll make them mobile friendly
// by vertical table-cell display. Only applies <768px. Everything above that will display normally.
// For correct display you must add 'data-title' to each 'td'
.table-responsive-vertical {

  @media screen and (max-width: 768px) {

    // Tighten up spacing
    > .table {
      margin-bottom: 0;
      background-color: transparent;
      > thead,
      > tfoot {
        display: none;
      }

      > tbody {
        display: block;
        overflow: visible;

        > tr {
          display: block;
        //   border: 1px solid $table-border-color;
          border-radius: 2px;
          margin-bottom: 3px;

          > td {
            background-color: transparent;
            display: block;
            vertical-align: middle;
            text-align: left;
            white-space: normal;
            position: relative;
            padding-left: 142px;
          }
          > td[data-title]:before {
            content: attr(data-title);
            float: left;
            font-size: inherit;
            font-weight: $table-header-font-weight;
            color: $table-header-font-color;
            padding-right: 20px;
            position: absolute;
            left: 0;
          }
        }
      }
    }
    
    // Special overrides for shadows
    &.shadow-z-1 {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      > .table > tbody > tr {
        border: none;
      }
    }

    // Special overrides for the bordered tables
    > .table-bordered {
      border: 0;

      // Nuke the appropriate borders so that the parent can handle them
      > tbody {
        > tr {
          > td {
            border: 0;
            border-bottom: 1px solid $table-border-color;
          }
          > td:last-child {
            border-bottom: 0;
          }
        }
      }
    }

    // Special overrides for the striped tables
    > .table-striped {
      > tbody > tr > td,
      > tbody > tr:nth-child(odd) {
          background-color: $table-bg;
      }
      > tbody > tr > td:nth-child(odd) {
          background-color: $table-bg-accent;
      }
    }

    // Special overrides for hover tables
    > .table-hover {
      > tbody {
        > tr:hover > td,
        > tr:hover {
          background-color: transparent;
        }
        > tr > td:hover {
          background-color: $table-bg-hover;
        }
      }
    }
  }
}

// tooltip css
.css-tooltips{
    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted #fff;
        &:hover{
            .tooltiptext{
                visibility: visible;
                opacity: 1;
            }
        }
        .tooltiptext {
            visibility: hidden;
            width: 325px;
            background-color: #fff;
            color: #000;
            text-align: center;
            padding: 5px 5px;
            border-radius: 0px;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            right: -26px;
            margin-left: 0px;
            white-space: normal;
            opacity: 0;
            transition: opacity 0.4s;
            -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
            -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
            box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
            @include breakpoint(medium){
                width: 200px;
                right: -160px;
            }
            &::after {
                content: "";
                position: absolute;
                top: 100%;
                right: 27px;
                margin-left: -5px;
                border-width: 10px;
                border-style: solid;
                border-color: #fff transparent transparent transparent;
                @include breakpoint(medium){
                    right: 162px;
                }
            }
            &::before {
                content: "";
                position: absolute;
                top: 100%;
                right: 25px;
                margin-left: -5px;
                border-width: 12px;
                border-style: solid;
                border-color: #000 transparent transparent transparent;
                opacity: 0.1;
                @include breakpoint(medium){
                    right: 160px;
                }
            }

        }
    }
}



// alert details
.alrts-details-section{
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    float: left;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
    @include breakpoint (medium){
        flex-direction: column;
    }
    .img-section{
        width: 100%;
        height: 100%;
        img{
            max-width: 416px;
            height: 100%;
            @include breakpoint (x-small){
                max-width: 100%;
                height: 100%;
            }
        }
    }
    .details-section{
        width: 100%;
        height: 100%;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        @include breakpoint (medium){
            margin-left: 0px;
            margin-top: 30px;
        }
        ul{
            width: 100%;
            float: left;
            li{
                width: 50%;
                float: left;
                @include breakpoint (medium){
                    width: 50% !important;
                }
                @include breakpoint (x-small){
                    width: 100% !important;
                }
                h4{
                    justify-content: space-between;
                    .words-space{
                        width: calc(100% - 75px);
                        float: left;
                    }
                }
            }
        }
        h4{
            display: flex;
            align-items: center;
            font-size: 16px;
            color: $text-color;
            font-weight: 400;
            margin-bottom: 22px;
            @media (max-width:1371px){
                font-size: 14px;
            }
            @media (max-width:1199px){
                font-size: 16px;
            }
            @include breakpoint (x-small){
                font-size: 14px;
            }
            &.heading{
                font-size: 20px;
                font-weight: 400;
                margin-bottom: 30px;
                span{
                    margin-right: 5px;
                    color: $black-color; 
                }
            }
            .words-space{
                color: $black-color; 
                font-weight: 400;
            }
            .words-space2{
                margin-left: 15px;
                color: $black-color; 
                font-weight: 400;
                width: calc(100% - 165px);
            }
        }
    }
    .buton-section{
        margin-top: 20px;
        h4{
            font-size: 16px;
            color: $text-color;
            font-weight: 400;
            margin-bottom: 15px;
        }
        .details-btns{
            button{
                border: none;
                padding: 12px 30px;
                &.closebtn{
                    margin-right: 15px;
                }
                &:hover{
                    cursor: pointer;
                    background: $text-color;
                }
            }
        }
    }
    .close-section{
        float: left;
        width: 100%;
        padding-top: 24px;
        border-top: 1px solid $border-color;
        h4{
            font-size: 20px;
            color: $black-color;
            font-weight: 400;
        }
        .icon-text{
            display: flex;
            align-items: stretch;
            .note-blnk-icon{
                background-image: url("../../../assets/images/note-blank-icon.png");
                @include image-2x('../../../assets/images/note-blank-icon@2x.png', 100%, auto);
                min-width: 26px;
                width: 26px;
                height: 20px;
                background-repeat: no-repeat;
                background-position: center center;
                float: left;
                margin-right: 15px;
                margin-top: 5px;
            }
            p{
                font-size: 14px;
                color: $black-color;
            }
        }
    }
}

.alrt-section{
    
}