<div class="main-body room-body" id="main-body">
  <div class="left-section rum-section">
    <div class="table-section-header">
      <app-pagebar></app-pagebar>
      <div id="test-swipe-1" class="col s12" style="display: none !important;"></div>
      <!-- dshbord-tab-end -->
      <div id="test-swipe-2" class="col s12 alert-tab-section" style="display: none !important; padding: 0px;">
      
      </div>
    </div>
    <div class="profile-section alert-tab-section">
      <div class="alrt-tab-head position-mobile">
        <h4>ROOMS</h4>
        <button type="button" class="waves-effect btn-flat back-btn ">Back</button>
      </div>
      <div class="rooms-section">
        <div class="room-details">
          <div class="room-table">
            <h4>ROOM:101</h4>
            <table class="highlight ">
              <tbody>
                <tr>
                  <td>ID:</td>
                  <td>18312</td>
                </tr>
                <tr>
                  <td>Name:</td>
                  <td>D-wing</td>
                </tr>
                <tr>
                  <td>Floor:</td>
                  <td>main Floor</td>
                </tr>
                <tr>
                  <td>Camera:</td>
                  <td>#F1-001</td>
                </tr>
                <tr>
                  <td>Created:</td>
                  <td>Aug 2, 2016</td>
                </tr>
                <tr>
                  <td>Updated at:</td>
                  <td>July 30, 2018</td>
                </tr>
                <tr>
                  <td>Description:</td>
                  <td>The room is located in the D-wing, by the stairway.</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="room-pic-section">
            <span class="room-pic"></span>
          </div>
        </div>
        <div class="room-details">
          <div class="other-detail-table table-responsive-vertical">
            <h4>BEDS (2)</h4>
            <table class="highlight responsive-table table-mc-light-blue table" id="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>BED NAME</th>
                  <th>UPDATE ON</th>
                  <th>DESCRIPTION</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td data-title="ID">#123232</td>
                  <td data-title="BED NAME">Single bed</td>
                  <td data-title="UPDATE ON">Jul 20, 2018</td>
                  <td data-title="DESCRIPTION">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</td>
                </tr>
                <tr>
                  <td data-title="ID">#123232</td>
                  <td data-title="BED NAME">Single bed</td>
                  <td data-title="UPDATE ON">Jul 20, 2018</td>
                  <td data-title="DESCRIPTION">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>